/**
 * Hanken Grotesk
 */
@include font-face("RobotoMono-Regular", "RobotoMono-Regular");

/**
 * Font variables
 */
$roboto-mono: "RobotoMono-Regular", sans-serif;
$base-size: 18;
$base-line-height: 26;
$font-primary: $roboto-mono;
