/**
 * Breakpoints
 */
$breakpoint-sm: 480px;
$breakpoint-md: 800px;
$breakpoint-lg: 1140px;
$breakpoint-xl: 1400px;
$breakpoint-xxl: 2000px;

/**
 * Breakpoints - map
 */
$settings-breakpoints: (
    "sm": $breakpoint-sm,
    "md": $breakpoint-md,
    "lg": $breakpoint-lg,
    "xl": $breakpoint-xl,
    "xxl": $breakpoint-xxl,
);
