.o-section {
	&__heading {
		padding-bottom: 20px;

		//overrides
		.u-b0 {
			opacity: 0.4;
		}
	}

	&__content {

	}

	//modifiers
	&--portfolio,
	&--hotspots {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;

		.o-container {
			position: relative;
		}
	}
}
