.o-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: getZindex("navigation");
    transform: translateY(0%);
    transition: background-color 0.3s;

    &.has-scrolled {
        transform: translateY(0%);
        transition: transform 0.4s ease-out, background-color 0.3s;

        &.slide-up {
            transform: translateY(-100%);
        }
    }
}
