.o-section {
    &__heading {
        padding-bottom: 20px;

        //overrides
        .u-a7 {
            max-width: percentage(12/20);
        }

        .u-b0 {
            opacity: 0.4;
            max-width: 460px;
        }
    }

    &__content {
    }

    //modifiers
    &--portfolio,
    &--hotspots,
    &--rgb-splitting,
    &--text-displace,
    &--3d {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        .o-container {
            position: relative;
        }
    }


    &--image-reveal {
        //overrides
        .o-section__heading {
            padding-bottom: 20vh;
        }
    }
}
