.c-footer {
    //overrides
    .o-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-social-link {
            margin-right: 20px;
        }

        p {

            a {
                transition: getTransition();

                &:hover {
                    opacity: 0.4;
                }
            }

            &.u-b2 {
                text-align: right;
                margin-left: 20px;
            }
        }
    }
}
