//3D PHOTOS
.c-rgb-splitting-wrapper {
    width: 100%;
    max-width: percentage(16/20);
    margin: 0 auto;
    position: relative;
}

.c-rgb-splitting-container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: 0;
    padding-bottom: percentage(900/1600);
}

.c-rgb-splitting {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

    canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.c-rgb-splitting-heading {
    position: absolute;
    right: percentage(1/16);
    text-align: right;
    bottom: 0;
    padding: 40px 0;
    pointer-events: none;
    max-width: 480px;

    //overrides
    .u-b1 {
        display: inline-block;
        margin-bottom: 0.6em;
    }
}
