//3D PHOTOS
.c-3d-image-wrapper {
    width: 100%;
    max-width: percentage(16/20);
    margin: 0 auto;
    position: relative;

    @include mq("lg") {
        max-width: 100%;
    }
}

.c-3d-image-container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: 0;
    padding-bottom: percentage(853/1280);
}

.c-3d-image {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

    canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.c-3d-image-heading {
    position: absolute;
    left: percentage(1/16);
    bottom: 0;
    padding: 40px 0;
    pointer-events: none;
    max-width: 540px;
    color: $white;

    //overrides
    .u-b1 {
        display: inline-block;
        margin-bottom: 0.6em;
    }
}
