.u-a7 {
    font-family: $font-primary;
    margin-bottom: 0.6em;
    $font-size: (
        $breakpoint-sm: 24px,
        $breakpoint-xl: 42px,
    );
    @include poly-fluid-sizing("font-size", $font-size);
    $line-height: (
        $breakpoint-sm: 32px,
        $breakpoint-xl: 44px,
    );
    @include poly-fluid-sizing("line-height", $line-height);
    letter-spacing: 2px;
    font-weight: normal;

    @include mq(sm) {
        letter-spacing: 0;
    }
}

.u-a6 {
    font-family: $font-primary;
    margin-bottom: 0;
    $font-size: (
        $breakpoint-sm: 16px,
        $breakpoint-xl: 26px,
    );
    @include poly-fluid-sizing("font-size", $font-size);
    $line-height: (
        $breakpoint-sm: 20px,
        $breakpoint-xl: 34px,
    );
    @include poly-fluid-sizing("line-height", $line-height);
    letter-spacing: 2px;
    font-weight: normal;

    @include mq(sm) {
        letter-spacing: 0;
    }
}

.u-a5 {
    font-family: $font-primary;
    font-size: 24px;
    line-height: 32px;
}

.u-b0 {
    font-family: $font-primary;
    $font-size: (
        $breakpoint-sm: 14px,
        $breakpoint-xl: 14px,
    );
    @include poly-fluid-sizing("font-size", $font-size);
    $line-height: (
        $breakpoint-sm: 22px,
        $breakpoint-xl: 22px,
    );
    @include poly-fluid-sizing("line-height", $line-height);
    font-weight: normal;
}

.u-b1 {
    font-family: $font-primary;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
}

.u-b2 {
    font-family: $font-primary;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-text-center {
    text-align: center;
}

.u-fw-thin,
.u-fw-100 {
    font-weight: 100;
}

.u-fw-extra-light,
.u-fw-200 {
    font-weight: 200;
}

.u-fw-light,
.u-fw-300 {
    font-weight: 300;
}

.u-fw-regular,
.u-fw-normal,
.u-fw-400 {
    font-weight: 400;
}

.u-fw-medium,
.u-fw-500 {
    font-weight: 500;
}

.u-fw-semi-bold,
.u-fw-600 {
    font-weight: 600;
}

.u-fw-bold,
.u-fw-700 {
    font-weight: 700;
}

.u-fw-extra-bold,
.u-fw-800 {
    font-weight: 800;
}

.u-fw-black,
.u-fw-900 {
    font-weight: 900;
}
